services:
  sample-app:
    container_name: sample-app
    image: fides-sample-app
    build:
      context: .
    environment:
      - PORT=3000
      - FIDES_SAMPLE_APP__DATABASE_HOST=postgres-test
      - FIDES_SAMPLE_APP__DATABASE_PORT=5432
      - FIDES_SAMPLE_APP__DATABASE_USER=postgres
      - FIDES_SAMPLE_APP__DATABASE_PASSWORD=postgres
      - FIDES_SAMPLE_APP__DATABASE_DB=postgres_example
    ports:
      - 3000:3000
    depends_on:
      - postgres-test

  postgres-test:
    container_name: fides-postgres-example-db
    image: postgres:16
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 15s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "postgres_example"
    volumes:
      - ../../src/fides/data/sample_project/postgres_sample.sql:/docker-entrypoint-initdb.d/postgres_sample.sql:ro

volumes:
  postgres: null
