.monitor-field {
  &__title {
    white-space: nowrap;
    font-weight: normal; // overrides Ant default title font weight
    & button {
      font-weight: 600;
    }
  }
  &__breadcrumb {
    & ol {
      overflow: hidden;
      flex-wrap: nowrap;
    }
    & li:last-child {
      color: var(--ant-color-text-secondary);
    }
  }
}
