@use "../../theme/global.scss";
@import "fidesui/src/ant-theme/global.scss";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "react-phone-number-input/style.css";
