# Ignore existing build artifacts
build/
dist/
src/fidesctl.egg-info/
src/fidesctl/ui-build/
src/ui-build/

# Ignore Python-Specific Files
.mypy_cache/
.nox/
.pytest_cache/
__pycache__/
.coverage
**.*.pyc
**.*.pyo
**.*.pyd

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/

# Editors
.vscode/
.idea/

# Ignore the docs
docs/

# Ignore dev files
.github/
.devcontainer/
**/node_modules/

# Ignore cypress artifacts
**/videos/
**/screenshots/
clients/ops/admin-ui/node_modules
clients/ops/admin-ui/.next
clients/privacy-center/.next
.DS_Store
