# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore

# frontend
ui-build/
coverage/
cc-test-reporter

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.tmp

# rails specific
*.sqlite3
config/database.yml
log/*
tmp/*

# java specific
*.class

# docs
docs/fides/site/
docs/fides/docs/api/openapi.json
docs/fides/docs/config/fides.toml

# python specific
*.pyc

# xcode/iphone specific
build/*
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
*~.nib

# akka specific
logs/*

# sbt specific
target/
project/boot
lib_managed/*
project/build/target
project/build/lib_managed
project/build/src_managed
project/plugins/lib_managed
project/plugins/target
project/plugins/src_managed
project/plugins/project
.bsp

core/lib_managed
core/target
pubsub/lib_managed
pubsub/target

# eclipse specific
.metadata
jrebel.lic
.settings
.classpath
.project

.ensime*
*.sublime-*
.cache

# intellij
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.idea

# metals
.metals
.bloop
project/metals.sbt

# paulp script
/.lib/

# Vagrant
.vagrant/

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib64/
/lib/
parts/
sdist/
var/
wheels/
*egg-info/
!*egg-info/entry_points.txt # Required so that this works when mounted via docker-compose
*.egg
MANIFEST
conda-out/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
test.db

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# SageMath parsed files
*.sage.py

# Environments
.env
.env*
.venv
.env.local
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

.idea/

# VSCode
.vscode/*
!.vscode/launch.json
!.vscode/settings.json

*.code-workspace
.mypy_cache
docker-stack.yml
.DS_Store

envfiles/

# Access request package local upload destination, generated at runtime
fides_uploads

# Prevent SaaS configs from being committed
saas_config.toml

# Frontend files
**/node_modules
**/.next


# multilang migration backup files produced by db init
multilang_migration_backup_*

# Cursor

.cursor/rules
