minimum_pre_commit_version: "2"

# To use hooks on the pre-commit stage only, run
# pre-commit install --hook-type pre-commit

repos:
  - repo: local
    hooks:
      - id: gitleaks-pre-commit
        name: gitleaks-pre-commit
        description: Detect hardcoded secrets pre-commit using Gitleaks
        entry: gitleaks protect --verbose --no-banner --redact --staged
        language: golang
        additional_dependencies: [ github.com/zricethezav/gitleaks@latest ]
        stages: [commit]

      - id: gitleaks-pre-push
        # To use this pre-push hook, run
        # pre-commit install --hook-type pre-push
        name: gitleaks-pre-push
        description: Detect hardcoded secrets pre-push using Gitleaks
        entry: gitleaks detect --verbose --no-banner --redact --log-opts "origin..HEAD"
        language: golang
        additional_dependencies: [ github.com/zricethezav/gitleaks@latest ]
        stages: [push]

      - id: ruff-format
        name: ruff format
        description: "Format files using ruff"
        entry: sh -c 'git status | grep "modified:" | cut -d ":" -f 2 | grep ".py" | xargs ruff format'
        language: python
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
        additional_dependencies: [ ruff==0.9.2 ]
        stages: [commit]

      - id: ruff-check
        name: ruff check
        description: "Lint and fix files using ruff"
        entry: sh -c 'git status | grep "modified:" | cut -d ":" -f 2 | grep ".py" | xargs ruff check --fix'
        language: python
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
        additional_dependencies: [ ruff==0.9.2 ]
        stages: [commit]
