black==24.3.0
debugpy==1.6.3
Faker==14.1.0
GitPython==3.1.41
isort==5.12.0
mypy==0.981
nox==2022.8.7
pre-commit==2.20.0
pylint==2.15.4
pytest-asyncio==0.19.0
pytest-cov==4.0.0
pytest-env==0.6.2
pytest-mock==3.14.0
pytest==7.2.2
requests-mock==1.10.0
setuptools>=64.0.2
sqlalchemy-stubs
types-paramiko==3.0.0.10
types-PyYAML==6.0.11
types-redis==4.3.4
types-requests
types-toml==0.10.8
types-ujson==5.4.0
types-urllib3==1.26.23
watchfiles==0.19.0
xenon==0.9.0
