black==22.6.0
Faker==13.15.0
ipython
isort
mypy==0.971
packaging==21.3
pdbpp
pre-commit==2.20.0
pylint==2.6.0
pytest-cov==3.0.0
pytest-env==0.6.2
pytest==6.2.2
requests-mock==1.9.3
types-PyYAML==6.0.9
types-redis==4.3.4
types-toml==0.10.7
types-ujson==5.2.0
types-urllib3==1.26.15
