services:
  fides:
    image: ethyca/fides:local
    depends_on:
      - postgres-test
      - mysql-test
      # - sqlserver-test

  postgres-test:
    image: postgres:12
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 15s
      timeout: 5s
      retries: 5
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres_example
    expose:
      - 6432
    ports:
      - "0.0.0.0:6432:5432"

  mysql-test:
    image: mysql:9
    platform: linux/amd64
    restart: always
    environment:
      - MYSQL_HOST=mysql_example
      - MYSQL_DATABASE=mysql_example
      - MYSQL_ROOT_PASSWORD=example
      - MYSQL_USER=mysql_user
      - MYSQL_PASSWORD=mysql_pw
    expose:
      - 3306
    ports:
      - "3306:3306"

  # sqlserver-test:
  #   image: mcr.microsoft.com/azure-sql-edge:latest # Equivalent to SQL Server 2016
  #   environment:
  #     - ACCEPT_EULA=Y
  #     - SA_PASSWORD=SQLserver1
  #   expose:
  #     - 1433
  #   ports:
  #     - "0.0.0.0:1433:1433"
