services:
  fidesctl:
    image: ethyca/fidesctl:local
    command: uvicorn --host 0.0.0.0 --port 8080 --reload fidesctl.api.main:app
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-f",
          "http://0.0.0.0:8080/api/v1/health"
        ]
      interval: 15s
      timeout: 5s
      retries: 5
    depends_on:
      fidesctl-db:
        condition: service_healthy
    expose:
      - 8080
    ports:
      - "8080:8080"
    volumes:
      - type: bind
        source: .
        target: /fides
        read_only: False
    environment:
      FIDESCTL_TEST_MODE: "True"
      FIDES__CONFIG_PATH: "/fides/.fides/"
      FIDESCTL__CLI__SERVER_HOST: "fidesctl"
      FIDESCTL__CLI__SERVER_PORT: "8080"
      FIDESCTL__CLI__ANALYTICS_ID: ${FIDESCTL__CLI__ANALYTICS_ID}
      FIDESCTL__API__DATABASE_HOST: "fidesctl-db"

  fidesctl-ui:
    image: ethyca/fidesctl:local-ui
    command: npm run dev-docker
    depends_on:
      - fidesctl
    expose:
      - 3000
    ports:
      - "3000:3000"
    volumes:
      - type: bind
        source: .
        target: /fides
        read_only: False
    environment:
      - NEXT_PUBLIC_FIDESCTL_API_SERVER=http://fidesctl:8080

  fidesctl-db:
    image: postgres:12
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 15s
      timeout: 5s
      retries: 5
    volumes:
      - postgres:/var/lib/postgresql/data
    expose:
      - 5432
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "fidesctl"
      POSTGRES_DB: "fidesctl"

  docs:
    build:
      context: docs/fides/
    volumes:
      - ./docs/fides:/docs
      - ./:/fides
    expose:
      - 8000
    ports:
      - "8000:8000"

volumes:
  postgres: null
