services:
  fidesctl:
    build:
      context: fidesctl
      dockerfile: Dockerfile
    command: uvicorn --host 0.0.0.0 --port 8080 --reload fidesapi.main:app
    depends_on:
      fidesdb:
        condition: service_started
    expose:
      - 8080
    ports:
      - "8080:8080"
    volumes:
      - type: bind
        source: .
        target: /fides
        read_only: False
    env_file:
      - env_files/fides.env

  fidesdb:
    image: postgres:12
    volumes:
      - postgres:/var/lib/postgresql/data
    expose:
      - 5432
    ports:
      - "5432:5432"
    env_file:
      - env_files/db.env

  docs:
    build:
      context: docs/fides/
      dockerfile: Dockerfile
    volumes:
      - ./docs/fides:/docs
    expose:
      - 8000
    ports:
      - "8000:8000"

volumes:
  postgres:
