# This .env file is used to configure secrets used during testing & development and
# is automatically picked up by Docker Compose and provided to the "fides" container.
#
# To use:
#   1) Save a copy of this file at the root of the "fides" repository
#   2) Rename it to ".env" (which will always be ignored by git)
#   3) Uncomment the various ENV vars below and provide values for your test accounts
#
# See the "nox -s test_env" command or scripts/setup/load_examples.py for
# details on how these are used.
#
# AWS_ACCESS_KEY_ID=
# AWS_ACCESS_SECRET_ID=
# MAILCHIMP_DOMAIN=
# MAILCHIMP_USERNAME=
# MAILCHIMP_API_KEY=
# MAILGUN_DOMAIN=
# MAILGUN_API_KEY=
# STRIPE_DOMAIN=
# STRIPE_API_KEY=