# This file exists for caching optional dependencies within the Docker build

# AWS
boto3~=1.24.46

# BigQuery
sqlalchemy-bigquery==1.4.4

# Mongodb
pymongo==3.12.0

# MySQL
PyMySQL==1.0.2

# Okta
okta==2.7.0

# Redis
redis==3.5.3
fastapi-caching[redis]

# Redshift
sqlalchemy-redshift==0.8.11

# Snowflake
snowflake-sqlalchemy==1.4.1
