alembic==1.8.1
anyascii==0.3.2
anyio==3.7.1
APScheduler==3.9.1.post1
asyncpg==0.27.0
boto3==1.26.1
celery[pytest]==5.2.7
cloud-sql-python-connector==1.9.2
colorama>=0.4.3
cryptography==42.0.0
dask==2022.9.2
deepdiff==6.3.0
defusedxml==0.7.1
types-defusedxml==0.7.0.20240218
expandvars==0.9.0
fastapi[all]==0.111.0
fastapi-pagination[sqlalchemy]==0.12.25
fideslang==3.0.2
fideslog==1.2.10
firebase-admin==5.3.0
GitPython==3.1.41
httpx==0.23.1
hvac==0.11.2
iab-tcf==0.2.2
immutables==0.20
importlib_resources==5.12.0
Jinja2==3.1.4
joblib==1.3.2
loguru==0.6.0
multidimensional_urlencode==0.0.4
pg8000==1.31.2
nh3==0.2.15
numpy==1.24.4
okta==2.7.0
openpyxl==3.0.9
networkx==3.1
packaging==23.0
pandas==1.4.3
paramiko==3.4.0
passlib[bcrypt]==1.7.4
plotly==5.13.1
pyinstrument==4.5.1
psycopg2-binary==2.9.6
pydantic==2.7.1
pydantic-settings==2.3.3
pydash==6.0.2
pygtrie==2.5.0
PyJWT==2.4.0
pymongo==4.7.3
PyMySQL==1.1.1
python-jose[cryptography]==3.3.0
pyyaml==6.0.1
redis==3.5.3
rich-click==1.6.1
sendgrid==6.9.7
scylla-driver==3.26.8
slowapi==0.1.8
snowflake-sqlalchemy==1.5.1
sqlalchemy[asyncio]==1.4.27
sqlalchemy-citext==1.8.0
sqlalchemy-bigquery==1.7.0
sqlalchemy-redshift==0.8.11
sqlalchemy-stubs==0.4
SQLAlchemy-Utils==0.38.3
sshtunnel==0.4.0
tinycss2==1.2.1
toml==0.10.2
twilio==7.15.0
typing-extensions==4.12.2
validators==0.20.0
versioneer==0.19
