#values in application.conf will override defaults in dev.application.conf

fides.db.jdbc.url="jdbc:postgresql://localhost:5432/devtools"
fides.db.jdbc.user=dpcp
fides.db.jdbc.password=dpcp
fides.db.driver=org.postgresql.Driver
