@import "fidesui/src/palette/palette.module.scss";

/**
  * Chakra removes heading font weight, wheras Ant assumes browser defaults.
  * This sets the font weight for headings back to the browser default for Ant support.
  * Remove this once Chakra has been removed.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

/**
 * Adds the color variables from the palette to the root element
 */
:root {
  @each $color, $value in $colors {
    #{getPrefixedColor("--fidesui-", unquote($color))}: $value;
  }
}

/**
  * Styles for Ant components where tokens are not available
  */
.ant-input-compact-item.ant-input-css-var {
  --ant-color-border: var(--fidesui-neutral-200);
  --ant-input-hover-border-color: var(--fidesui-neutral-200);
}
.ant-btn-compact-item.ant-btn-variant-outlined {
  --ant-button-default-border-color: var(--fidesui-neutral-200);
  --ant-button-default-hover-border-color: var(--fidesui-neutral-200);
  --ant-button-default-hover-bg: var(--fidesui-neutral-200);
  --ant-button-default-bg: var(--fidesui-neutral-50);
}

// Custom styles for dark submenus
.ant-menu-dark .ant-menu-sub {
  // The unselected submenu item should be light gray
  > .ant-menu-item > .ant-menu-title-content {
    color: var(--fidesui-neutral-200);

    &:hover {
      color: var(--fidesui-full-white);
    }
  }
  // The selected submenu item should be dark, because the background is light
  // But using the token "darkItemSelectedColor" also affect the group title,
  // therefore we need this css rule
  > .ant-menu-item.ant-menu-item-selected > .ant-menu-title-content {
    color: var(--fidesui-minos);
  }
}

// Remove rounding from submenu arrow
// to better match the style Carbon icons
.ant-menu-submenu-arrow {
  --ant-border-radius: 0px;
}
