.dropdown {
  background: var(--ant-color-bg-container);
  border: 1px solid var(--ant-color-border);
  border-radius: var(--ant-border-radius-lg);
  box-shadow: var(--ant-box-shadow-secondary);
}

.option {
  background: var(--ant-color-bg-container);

  &:not(:last-child) {
    border-bottom: 1px solid var(--ant-color-border-secondary);
  }
}

.optionActive {
  background: var(--ant-color-fill-alter);
}
