.idea/
.next/
.turbo/
node_modules/
out/
dist/
build/
coverage/
storybook-static/
admin-ui/src/types/api/
fidesui/src/components/chakra-base/types/
admin-ui/public/lib/
privacy-center/public/lib/
privacy-center/public/scripts/
privacy-center/public/*.html
admin-ui/public/*.html
fides-js/src/lib/gpp/modules/
fides-js/docs/
fides-js/bundle-size-stats/
**/cypress/downloads/
**/cypress/screenshots/
**/cypress/videos/
package-lock.json
