$border-width: 1px;
$horizontal-padding: 20px;

.itemButton {
  display: block;
  width: 100%;
  border: $border-width solid transparent;

  border-radius: 6px;
  transition: border-color 0.2s ease-in-out;
  margin-bottom: 20px;
  padding: 12px $horizontal-padding;

  &:hover,
  &:focus,
  &--error {
    border-color: var(--fidesui-neutral-100);
  }

  &--error,
  &--error:hover {
    border-left: 8px solid var(--fidesui-error);
  }
}

.header {
  cursor: pointer;
  width: 100%;

  display: flex;
  gap: 8px;
}

.author {
}

.title {
  font-weight: 600;

  &--error {
    color: var(--fidesui-error);
  }
}

.timestamp {
  color: var(--fidesui-neutral-700);
}

.type {
}

.content {
}

.viewLogs {
  color: var(--fidesui-link);
}

.logs {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-in-out;
  box-sizing: border-box;
  padding: 0 $horizontal-padding;

  &--open {
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
