$border-width: 1px;
$horizontal-padding: 20px;

.container {
  border: $border-width solid transparent;
  transition: border-color 0.2s ease-in-out;

  &:hover,
  &--open {
    border-color: var(--fidesui-neutral-100);
    border-radius: 6px;
  }
}

.itemButton {
  display: block;
  width: 100%;
  border: $border-width solid transparent;
  border-radius: 6px;
  transition: border-color 0.2s ease-in-out;
  margin-bottom: 20px;
  padding: 12px $horizontal-padding;
  text-align: left;
  background: transparent;

  &--error,
  &--comment,
  &:hover {
    border-color: var(--fidesui-neutral-100);
  }

  &:focus-visible {
    border-color: var(--fidesui-neutral-700);
  }

  &--error,
  &--error:hover,
  &--error:focus {
    border-left: 8px solid var(--fidesui-error);
  }
}

.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

.author {
}

.title {
  font-weight: 600;

  &--error {
    color: var(--fidesui-error);
  }
}

.timestamp {
  color: var(--fidesui-neutral-700);
}

.type {
}

.content {
}

.viewLogs {
  color: var(--fidesui-link);
}

.logs {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-in-out;
  box-sizing: border-box;
  padding: 0 $horizontal-padding;

  &--open {
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
