$border-width: 1px;
$horizontal-padding: 20px;

.collapse {
}

.item {
  border: $border-width solid transparent;

  border-radius: 6px !important;
  transition: border-color 0.2s ease-in-out;
  margin-bottom: 20px;

  // important needed to override ant's ghost border-bottom:0
  border-bottom: 1px solid transparent !important;

  &:hover,
  &--error {
    border-color: var(--fidesui-neutral-100);
    border-bottom-color: var(--fidesui-neutral-100) !important;
  }

  &--error,
  &--error:hover {
    border-left: 8px solid var(--fidesui-error);
  }
}

.header {
  cursor: pointer;
  width: 100%;
  padding: calc(12px - $border-width) $horizontal-padding;
}

.headerInner {
  display: flex;
  gap: 8px;
}

.author {
}

.title {
  font-weight: 600;

  &--error {
    color: var(--fidesui-error);
  }
}

.timestamp {
  color: var(--fidesui-neutral-700);
}

.type {
}

.content {
}

.viewLogs {
  color: var(--fidesui-link);
}

.logs {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-in-out;
  box-sizing: border-box;
  padding: 0 $horizontal-padding;

  &--open {
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
