# This .env file is used to configure default settings for the 'fides' container
# It is empty by default; it exists only as a placeholder.
#
# See comment in src/fides/data/sample_project/docker-compose.yml for details.
FIDES_DEPLOY_SAMPLE_ENV_LOADED=1