# This .env file is used to configure default settings for the 'fides' container
#
# It is empty by default; it exists so that we can provide an alternate ENV file
# via 'fides deploy up --env-file <some path>' as a convenient way for users to
# provide their own ENV files into the 'fides' container, since Docker compose
# doesn't support optional 'env_file' configurations
# (see https://github.com/compose-spec/compose-spec/issues/240)
SAMPLE_ENV_LOADED=true