.container {
  position: relative;
}

// can't transition changes from different ant buttons,
// so we'll need to style them here
.button {
  --ant-button-text-hover-bg: transparent !important;

  transition:
    background-color 300ms ease-in 0s,
    color 300ms ease 0s,
    border-color 300ms ease 0s,
    box-shadow 300ms ease 0s;

  height: 28px !important;
  max-width: 240px;

  --ant-color-text-disabled: var(--ant-color-text);
}

.button-default {
}

.button-hover {
  color: var(--ant-button-primary-color) !important;
  background-color: var(--fidesui-minos) !important;

  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.06),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.button-path-hover {
  background-color: var(--fidesui-neutral-50) !important;
  border-color: var(--ant-button-default-border-color) !important;
  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.06),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.button-inactive {
  color: var(--fidesui-neutral-400) !important;
}

.add-button {
  height: 28px !important;
  width: 28px !important;
  --ant-button-default-border-color: transparent !important;

  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.06),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
