.container {
  position: relative;
}

// can't transition changes from different ant buttons,
// so we'll need to style them here
.button {
  --ant-button-text-hover-bg: transparent !important;

  transition:
    background-color 300ms ease 0s,
    color 300ms ease 0s;

  height: 28px !important;
  max-width: 240px;
}

.button-default {
}

.button-hover {
  color: var(--ant-button-primary-color) !important;
  background-color: var(--fidesui-full-black) !important;
}

.button-path-hover {
  background-color: var(--fidesui-neutral-50) !important;
}

.button-inactive {
  color: var(--fidesui-neutral-400) !important;
}

.add-button {
  height: 28px !important;
  width: 28px !important;
  --ant-button-default-border-color: transparent !important;

  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.06),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

// .button {
//   @apply max-w-[300px] cursor-pointer truncate rounded px-4 py-1 transition-colors duration-300 box-border border border-transparent;
// }

// .button {
//   max-width: 300px;
//   transition-duration: 300ms;
//   transition-property: color, background-color;
//   cursor: pointer;
//   border-radius: 0.25rem /* 4px */;
//   padding: 0.25rem 1rem; // 4px 16px
//   border: 1px solid transparent;

//   //truncate text
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }
// .button:hover {
//   background-color: var(--fidesui-full-black);
//   color: var(--fidesui-full-white);
// }
