# Site Configuration
site_name: Fides
site_url: https://ethyca.github.io/fides/

# GitHub Configuration
repo_url: https://github.com/ethyca/fides
edit_uri: blob/main/docs/fides/docs/

# Navigation
nav:
  - What is Fides?: index.md
  - Quick Start:
      - Overview: quickstart/overview.md
      - Running Fidesctl Locally (Standalone): quickstart/local_standalone.md
      - Running Fidesctl Locally (Full Installation): quickstart/local_full.md
      - Running Fidesctl in Docker: quickstart/docker.md
  - Installation:
      - Installation Overview: installation/installation.md
      - Prerequisites & Dependencies: installation/prerequisites_dependencies.md
      - Installation from PyPI: installation/pypi.md
      - Installation from Docker: installation/docker.md
      - Setting up the database: installation/database.md
      - Configuration: installation/configuration.md
  - Tutorial:
      - Overview: tutorial/index.md
      - Add Fidesctl to the App: tutorial/add.md
      - Annotate the Dataset: tutorial/dataset.md
      - Annotate the System: tutorial/system.md
      - Write a Policy: tutorial/policy.md
      - Add Google Analytics: tutorial/google.md
      - Manage Google Analytics with Fidesctl: tutorial/pass.md
  - How-To Guides:
      - Generating Resources: guides/generate_resources.md
      - Example Policies: guides/policies.md
      - Extending the Taxonomy: guides/extending_taxonomy.md
      - Generating a Data Map: guides/generating_datamap.md
  - Fides UI:
      - Running the UI: admin_ui/overview.md
      - User Management: admin_ui/user_management.md
  - CI/CD Integration:
      - Overview: cicd/overview.md
      - Example Integrations: cicd/examples.md
  - Fides Language:
      - Overview: language/overview.md
      - Syntax: language/syntax.md
      - Resources:
          - Organization: language/resources/organization.md
          - Policy: language/resources/policy.md
          - Registry: language/resources/registry.md
          - System: language/resources/system.md
          - Dataset: language/resources/dataset.md
      - Taxonomy:
          - Overview: language/taxonomy/overview.md
          - Taxonomy Explorer: language/taxonomy/explorer.md
          - Data Categories: language/taxonomy/data_categories.md
          - Data Uses: language/taxonomy/data_uses.md
          - Data Subjects: language/taxonomy/data_subjects.md
          - Data Qualifiers: language/taxonomy/data_qualifiers.md
  - CLI: cli.md
  - API: api/index.md
  - Development:
      - Overview: development/overview.md
      - Code Style: development/code_style.md
      - Database Migration: development/database_migration.md
      - Documentation: development/documentation.md
      - Testing: development/testing.md
      - Pull Requests: development/pull_requests.md
      - Releases: development/releases.md
  - Community:
      - Github, Slack & Discord: community/overview.md
      - Community Hints & Tips: community/hints_tips.md
      - Code of Conduct: community/code_of_conduct.md
  - About Ethyca: ethyca.md
  - License: license.md

# Theme
theme:
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  name: material
  # GitHub Icon
  icon:
    repo: fontawesome/brands/github
  favicon: img/favicon.ico
  logo: img/fides-logo.svg
  font:
    text: Source Sans Pro
  features:
    - navigation.top
    - navigation.instant
  custom_dir: overrides

markdown_extensions:
  - attr_list
  - pymdownx.superfences
  - pymdownx.snippets
  - pymdownx.inlinehilite
  - pymdownx.tabbed
  - admonition
  - mkdocs-click
  - pymdownx.highlight:
      linenums: true
      linenums_style: table

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js
  - js/matomo.js

extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css
  - css/fides.css
  - css/api.css
  - css/cli.css
  - css/taxonomy.css

extra:
  version:
    provider: mike
    default: stable

plugins:
  # The "Last Update" footer only shows in production
  - git-revision-date:
      enabled_if_env: PROD_PUBLISH
  - render_swagger
  - search
