site_name: Fides
site_url: https://ethyca.github.io/fides/
nav:
  - Home: index.md
  - License: license.md
  - Fides Resources: fides_resources.md
  - Getting Started:
      - getting_started/docker.md
      - getting_started/local.md
  - Tutorial:
      - Understanding the Taxonomy: tutorial/taxonomy.md
      - Annotate your Datasets: tutorial/dataset.md
      - Create a System: tutorial/system.md
      - Create a Policy: tutorial/policy.md
      - Evaluate your Resources: tutorial/evaluate.md
      - Integrate your CI: tutorial/ci.md
  - Deployment: deployment.md
  - CLI: cli.md
  - Development:
      - Overview: development/overview.md
      - Code Style: development/code_style.md
      - Documentation: development/documentation.md
      - Testing: development/testing.md
      - Pull Requests: development/pull_requests.md
      - Releases: development/releases.md
  - Community:
      - GitHub: community/github.md
      - Code of Conduct: community/code_of_conduct.md
theme:
  palette:
      primary: blue
  name: material
  favicon: img/favicon.png
  logo: img/logo.png
  features:
    - naviation.top
    - navigation.instant

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.snippets
  - pymdownx.inlinehilite
  - pymdownx.tabbed
  - pymdownx.highlight:
      linenums: true
      linenums_style: table

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js
extra_css:
  - css/stylesheet.css
