site_name: Fides
site_url: https://example.com/
nav:
  - Home: index.md
  - License: license.md
  - Getting Started: getting_started.md
  - Tutorial: tutorial.md
  - Fides Objects: fides_objects.md
  - Fidesctl: fidesctl.md
  - Fides Server: server.md
  - Deployment: deployment.md
  - Contributing: contributing.md
theme:
  name: material
  features:
    - naviation.top
    - navigation.instant
    #- navigation.tabs
    #- navigation.sections

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.highlight:
      linenums: true
      linenums_style: table
  - pymdownx.inlinehilite
  - pymdownx.tabbed

# theme: material
#   - features:
#     - navigation.instant
#     - navigation.tabs
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js
  - javascripts/config.js
extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css
