site_name: Fides
site_url: https://example.com/
nav:
  - Home: index.md
  - License: license.md
  - Getting Started: getting_started.md
  - What is Fides?: what_is_fides.md
  - Tutorial: tutorial.md
  - Glossary: glossary.md
  - Manifests: manifests.md
  - Fidesctl: fidesctl.md
  - Fides Server: server.md
  - Deployment: deployment.md
  - Contributing: contributing.md
theme: readthedocs
