site_name: Fides
site_url: https://example.com/
nav:
  - Home: index.md
  - License: license.md
  - Fides Objects: fides_objects.md
  - Getting Started:
      - getting_started/docker_getting_started.md
      - getting_started/local_getting_started.md
  - Tutorial: tutorial.md
  - Deployment: deployment.md
  - Fidesctl: fidesctl.md
  - FidesAPI: api.md
  - Development:
      - Overview: development/overview.md
      - Contributing: development/contributing.md
      - Code Style: development/code_style.md
      - Documentation: development/documentation.md
      - Testing: development/testing.md
      - Release Checklist: development/release_checklist.md
  - Community:
      - GitHub: community/github.md
      - Code of Conduct: community/code_of_conduct.md
theme:
  name: material
  favicon: img/favicon.png
  logo: img/logo.png
  features:
    - naviation.top
    - navigation.instant

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.snippets
  - pymdownx.inlinehilite
  - pymdownx.tabbed
  - pymdownx.highlight:
      linenums: true
      linenums_style: table

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js
extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css
