.defaultTooltip {
  border-radius: var(--ant-border-radius);
  background-color: var(--ant-color-bg-elevated);
  padding: var(--ant-padding-xxs) var(--ant-padding-xs);
  box-shadow: var(--ant-box-shadow);
  font-size: var(--ant-font-size-sm);
}
