[database]
server = "fides-db"
user = "postgres"
password = "fides"
port = "5432"
db = "fides"
test_db = "fides_test"

[credentials]
app_postgres = {connection_string="postgresql+psycopg2://postgres:fides@fides-db:5432/fides"}

[logging]
level = "INFO"
log_pii = true

[cli]
server_host = "localhost"
server_port = 8080

[user]
analytics_opt_out = false
username = "root_user"
password = "Testpassword1!"

[redis]
host = "redis"
password = "redispassword"
port = 6379
charset = "utf8"
default_ttl_seconds = 604800
db_index = 0
ssl = false
ssl_cert_reqs = "required"

[security]
cors_origins = [ "http://localhost", "http://localhost:8080", "http://localhost:3000", "http://localhost:3001",]
encoding = "UTF-8"
root_username = "root_user"
root_password = "Testpassword1!"
app_encryption_key = "OLMkv91j8DHiDAULnK5Lxx3kSCov30b3"
oauth_root_client_id = "fidesadmin"
oauth_root_client_secret = "fidesadminsecret"
drp_jwt_secret = "secret"
env = "prod"

[execution]
masking_strict = true
require_manual_request_approval = true
task_retry_backoff = 1
subject_identity_verification_required = false
task_retry_count = 0
task_retry_delay = 1
use_dsr_3_0 = false

[admin_ui]
enabled = true

[celery]
event_queue_prefix = "fides_worker"
task_default_queue = "fides"
task_always_eager = true

[notifications]
notification_service_type = "mailgun"

[consent]
tcf_enabled = false
ac_enabled = false
override_vendor_purposes = false
