/* -- START: CLI Reference CSS -- */

#cli-docs.cli .label {
    font-weight: bold;
    font-size: 20px;
    padding-top: 24px;
}

#cli-docs.cli .content {
    padding-left: 24px;
}

#cli-docs.cli .content+.content {
    padding-top: 24px;
}

#cli-docs.cli .mono {
    font-family: monospace;
    font-weight: bold;
}

#cli-docs.cli .monoi {
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
}