.label {
  font-weight:  bold;
  font-size: 20px;
  padding-top: 24px;
}

.content {
  padding-left: 24px;
}

.content + .content{
  padding-top: 24px;
}
.mono {
  font-family:  monospace;
  font-weight:  bold;
}

.monoi {
  font-family:  monospace;
  font-style: italic;
  font-weight:  bold;

}