
/* -- Swagger UI redesign -- */

.renderedMarkdown p {
  margin:  0px !important;
  font-size:  16px !important;
  font-family: 'Source Sans Pro', sans-serif !important;

}
.models, .try-out__btn, [data-tag="Visualize"], 
#operations-Visualize-get_visualization_data_category_visualize__figure_type__get, 
#operations-Visualize-get_visualization_data_use_visualize__figure_type__get,
#operations-Visualize-get_visualization_data_qualifier_visualize__figure_type__get,
[href="openapi.json"], .response-col_links, .response-controls, .tab, select{
  display:  none !important;
  padding:  0px !important;
  margin:  0px !important;
}

tbody .response-col_status {
  font-size: 16px !important;
  font-weight:  bold !important;
}

.col_header {
  font-size: 16px !important;
  font-weight:  bold !important;
}

.response-col_description p {
  margin: 0px !important;
}
.opblock-summary-description {
  font-size: 16px !important;
}

.model-example{
  margin:  0px !important;
}

.tab {
  margin:  4px !important;
}

.tabitem {
  margin:  4px !important;
  font-size:  14px !important;
}

/* Get rid of the harsh lime green */
[style="color: rgb(162, 252, 162);"] {
  color: inherit !important;
}

.microlight {
  padding: 1px !important;
}

.info {
  margin: 12px 12px 12px 0px !important;
}

.opblock-tag {
  padding: 12px 0px 12px 0px !important;
}

span:after {
  background:  none !important;
}