.selectInlineRoot {
  --ant-padding-sm: 0;
  --ant-padding-xxs: 0;
  --ant-select-multiple-selector-bg-disabled: transparent !important;
  --ant-select-option-selected-font-weight: 400 !important;

  :global(.ant-select-selector) {
    cursor: auto !important;
  }
}
