<html>
   <head>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600">
      <link rel="stylesheet" href="main.css">
   </head>
   <body>
      <div class="container">
         <div class="header">
            <div>
               <img src="logo.svg">
            </div>
         </div>
         <div class="content">
            <h1>Your requested data</h1>
            <div class="info-grid-container">
               <div class="info-grid">
                  <div>Request ID:</div>
                  <div>{{ request.id }}</div>
                  <div>Name:</div>
                  <div>{{ request.name }}</div>
                  <div>Request type:</div>
                  <div>{{ request.type }}</div>
                  <div>Email:</div>
                  <div>{{ request.email }}</div>
                  <div>Request submitted:</div>
                  <div>{{ request.submission_datetime }}</div>
               </div>
            </div>
            <div class="table table-hover">
               <div class="table-row">
                  <div class="table-cell">Dataset</div>
               </div>
               {% for name, link in data.items() %}
               <a href="{{ link }}" class="table-row">
                  <div class="table-cell">{{ name }}</div>
               </a>
               {% endfor %}
            </div>
         </div>
      </div>
   </body>
</html>
