.tabs {
  height: 100%;
  display: flex;
  flex-direction: column;

  :global(.ant-tabs-content-holder),
  :global(.ant-tabs-content),
  :global(.ant-tabs-tabpane-active) {
    height: 100%;
  }
}

.canvasContainer {
  height: 100%;
  border: 1px solid var(--fidesui-color-border);
  border-radius: var(--fidesui-border-radius-lg);
}
