.junction {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--ant-color-text-quaternary);
  position: relative;
}

.handle {
  background: transparent;
  border: none;
  width: 1px;
  height: 1px;
}
