.node {
  position: relative;
  background: var(--fidesui-color-bg-container);
  border: 1px solid var(--fidesui-color-border);
  border-radius: var(--fidesui-border-radius-lg);
  width: 100%;
  min-width: 150px;
  box-sizing: border-box;
}

.header {
  padding: 12px 16px;
}

.avatar {
  background-color: var(--fidesui-brand-olive) !important;
  border-radius: var(--fidesui-border-radius) !important;
  color: var(--fidesui-color-white) !important;

  svg {
    fill: currentColor;
  }
}

.placeholder {
  padding: 16px;
  border-top: 1px solid var(--fidesui-color-border);
}

.body {
  padding: 12px 16px;
  border-top: 1px solid var(--fidesui-color-border);
}

.handle {
  background: var(--fidesui-color-text-quaternary);
  border: none;
  width: 8px;
  height: 8px;
}
