.node {
  position: relative;
  background: var(--ant-color-bg-container);
  border: 1px solid var(--ant-color-border);
  border-radius: var(--ant-border-radius-lg);
  width: 100%;
  min-width: 150px;
  box-sizing: border-box;
}

.header {
  padding: 12px 16px;
}

.avatar {
  background-color: var(--ant-color-text) !important;
  border-radius: var(--ant-border-radius) !important;
}

.field {
  border-top: 1px solid var(--ant-color-border) !important;
  border-radius: 0 !important;
  padding: 10px 16px !important;
  width: 100% !important;
}

.selectField {
  border-top: 1px solid var(--ant-color-border) !important;
  border-radius: 0 !important;
  padding: 18px 4px 20px !important;
  width: 100% !important;
}
.handle {
  background: var(--ant-color-text-quaternary);
  border: none;
  width: 8px;
  height: 8px;
}
