.alertSm {
  :global(.ant-alert-message) {
    font-size: var(--fidesui-font-size-sm);
  }
}

.quickActionTile {
  text-decoration: none;
}

.quickActionButton.quickActionButton {
  font-weight: 600;

  &.error {
    color: var(--fidesui-color-error);
    border-color: var(--fidesui-color-error);

    &:hover {
      color: var(--fidesui-color-error-hover);
      border-color: var(--fidesui-color-error-hover);
    }
  }

  &.warning {
    color: var(--fidesui-color-warning);
    border-color: var(--fidesui-color-warning);

    &:hover {
      color: var(--fidesui-color-warning-hover);
      border-color: var(--fidesui-color-warning-hover);
    }
  }

  &.info {
    color: var(--fidesui-color-info);
    border-color: var(--fidesui-color-info);

    &:hover {
      color: var(--fidesui-color-info-hover);
      border-color: var(--fidesui-color-info-hover);
    }
  }
}
