.collapse {
  --ant-color-border: var(--fidesui-neutral-75);
  --ant-collapse-header-bg: var(--ant-color-bg-container) !important;

  :global(.ant-collapse-item) {
    border-left: 6px solid transparent;
    transition: border-left-color 0.2s ease;
  }

  :global(.ant-collapse-item-active) {
    border-left: 6px solid var(--fidesui-minos);
  }

  :global(.ant-collapse-header-text) {
    margin-left: 20px;
  }

  :global(.ant-collapse-content-box) {
    padding-top: 0;
  }
}
