.collapseWrapper {
  --ant-collapse-content-padding: 0 !important;

  :global(.ant-collapse-header) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.itemList {
  width: 100%;
}

.evidenceCard {
  padding: 12px 16px;
  background-color: var(--ant-color-bg-container);
  border-radius: var(--ant-border-radius-lg);
  border: 1px solid var(--ant-color-border);
}

.cardValue {
  line-height: 1.5;
}
