.itemList {
  width: 100%;
}

.evidenceCard {
  padding: 12px 16px;
  background-color: var(--fidesui-color-bg-container);
  border-radius: var(--fidesui-border-radius-lg);
  border: 1px solid var(--fidesui-color-border);
}

.cardValue {
  line-height: 1.5;
}
