.container {
  background-color: var(--fidesui-bg-corinth);
  border-radius: var(--ant-border-radius-lg);
  padding: 16px;
  width: 100%;
}

.checkIcon {
  color: var(--fidesui-success);
  font-size: 16px;
}
