.container {
  background-color: var(--fidesui-brand-bg-corinth);
  border-radius: var(--fidesui-border-radius-lg);
  padding: 16px;
  width: 100%;
}

.checkIcon {
  color: var(--fidesui-color-success);
  font-size: var(--fidesui-font-size-lg);
}
