.container {
  background-color: var(--ant-brand-bg-corinth);
  border-radius: var(--ant-border-radius-lg);
  padding: 16px;
  width: 100%;
}

.checkIcon {
  color: var(--ant-color-success);
  font-size: var(--ant-font-size-lg);
}
