.labelFlex {
  flex: 1;
  min-width: 0;
}

.labelContent {
  flex: 1;
}

.groupTitle {
  font-size: 16px;
  display: block;
  margin-bottom: 12px;
}

.meta {
  margin-bottom: 8px;
}

.avatarTag {
  margin-left: 4px;
}

.evidenceButton {
  margin-top: 12px;
}

.statusTag {
  position: absolute;
  right: 24px;
  top: 16px;
}

.questions {
  width: 100%;
}
