# This file is used for testing various CLI commands,
# either for development or users, that may otherwise be
# difficult to test in a programmatic way or require
# significant amounts of setup
name: CLI Command Checks

on:
  pull_request:
    paths-ignore:
      - "**.md"
      - "clients/**"
  push:
    branches:
      - "main"

env:
  DEFAULT_PYTHON_VERSION: "3.10.11"

jobs:
  # Basic smoke test of a local install of the fides Python CLI
  Fides-Install:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.DEFAULT_PYTHON_VERSION }}

      - name: Install Nox
        run: pip install nox>=2022

      - name: Install fides
        run: pip install .

      - name: Run `fides --version`
        run: fides --version
