name: Cypress E2E Tests

on:
  pull_request:
    paths-ignore:
      - "**.md"
  push:
    branches:
      - "main"
      - "release-**"

env:
  CI: true
  env:
  # Docker auth with read-only permissions.
  DOCKER_USER: ${{ secrets.DOCKER_USER }}
  DOCKER_RO_TOKEN: ${{ secrets.DOCKER_RO_TOKEN }}
  DEFAULT_PYTHON_VERSION: "3.10.13"
  IMAGE: ethyca/fides:local

jobs:
  Cypress-E2E:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.DEFAULT_PYTHON_VERSION }}
          cache: "pip"

      - name: Install Nox
        run: pip install nox>=2022

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_USER }}
          password: ${{ env.DOCKER_RO_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Pre-Build container using Buildx with CI cache to speed up the next step
        uses: docker/build-push-action@v5
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          build-args: PYTHON_VERSION=${{ env.DEFAULT_PYTHON_VERSION }}
          target: prod
          push: false
          tags: ${{ env.IMAGE }}

      - name: Start test environment in the background
        run: nox -s "fides_env(test)" -- keep_alive

      - name: Install dependencies
        run: |
          cd clients/cypress-e2e
          npm install

      - name: Cypress E2E tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: clients/cypress-e2e
          install: false
          wait-on: "http://localhost:8080, http://localhost:3001"
          record: true
        env:
          # pass the Cypress Cloud record key as an environment variable
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          # pass GitHub token to allow accurately detecting a build vs a re-run build
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Teardown
        run: nox -s teardown
