name: Docker Build & Push

on:
  push:
    branches:
      - main
    tags:
      - "*"

env:
  DOCKER_USER: ethycaci
  DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}

jobs:
  push-fidesctl:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # This is required to properly tag images

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ env.DOCKER_USER }}
          password: ${{ env.DOCKER_TOKEN }}

      - name: Build Fidesctl
        run: nox -s build

      - name: Push Fidesctl
        run: nox -s push
