name: Frontend Code Checks

on:
  pull_request:
    paths:
      - "clients/**"
      - ".github/workflows/frontend_checks.yml"
  push:
    branches:
      - "main"
      - "release-**"

env:
  CI: true

jobs:
  Clients-Unit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
        clients:
          - "admin-ui"
          - "privacy-center"
          - "fides-js"
    defaults:
      run:
        working-directory: clients
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Format
        run: npm run format:ci

      - name: Build FidesJS # needed for type checks
        working-directory: clients/fides-js
        run: npm run build

      - name: Unit test (${{ matrix.clients }})
        working-directory: clients/${{ matrix.clients }}
        run: npm run test:ci
