name: Frontend Code Checks

on:
  pull_request:
    paths:
      - "clients/**"
      - ".github/workflows/frontend_checks.yml"
  push:
    branches:
      - "main"
      - "release-**"

env:
  CI: true

jobs:
  Clients-Unit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
        clients:
          - "admin-ui"
          - "privacy-center"
          - "fides-js"
    defaults:
      run:
        working-directory: clients
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Format
        run: npm run format:ci

      - name: Build FidesJS # needed for type checks
        working-directory: clients/fides-js
        run: npm run build

      - name: Unit test (${{ matrix.clients }})
        working-directory: clients/${{ matrix.clients }}
        run: npm run test:ci

  Clients-Cypress:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
        clients:
          - "admin-ui"
          - "privacy-center"
    defaults:
      run:
        working-directory: clients
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install

      - name: Build FidesJS
        working-directory: clients/fides-js
        run: npm run build

      - name: Cypress E2E Tests (${{ matrix.clients }})
        uses: cypress-io/github-action@v6
        with:
          working-directory: clients/${{ matrix.clients }}
          install: false
          start: npm run cy:start
          wait-on: "http://localhost:${{ matrix.clients == 'privacy-center' && 3001 || 3000 }}"
          wait-on-timeout: 180

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-videos-${{ matrix.clients }}
          path: /home/runner/work/fides/fides/clients/${{ matrix.clients }}/cypress/videos/*.mp4

  Clients-Cypress-Component:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
        clients:
          - "admin-ui"
    defaults:
      run:
        working-directory: clients
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install

      - name: Cypress Component Tests (${{ matrix.clients }})
        uses: cypress-io/github-action@v6
        with:
          working-directory: clients/${{ matrix.clients }}
          install: false
          component: true
