name: PR Checks

on:
  pull_request:
    branches:
      - main
    paths:
      - fidesctl/**
      - .github/workflows/pr_checks.yaml

env:
  CONTAINER: fidesctl-local
  IMAGE: ethyca/fidesctl:local

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Build fidesctl container
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ./fidesctl
          file: ./fidesctl/Dockerfile
          outputs: type=docker,dest=/tmp/${{ env.CONTAINER }}.tar
          push: false
          tags: ${{ env.IMAGE }}

      - name: Upload fidesctl container
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.CONTAINER }}
          path: /tmp/${{ env.CONTAINER }}.tar
          retention-days: 1

  Fidesctl:
    needs: Build
    runs-on: ubuntu-latest
    steps:
      - name: Download fidesctl container
        uses: actions/download-artifact@v2
        with:
          name: ${{ env.CONTAINER }}
          path: /tmp/

      - name: Load fidesctl image
        run: docker load --input /tmp/${{ env.CONTAINER }}.tar

      - name: Checkout
        uses: actions/checkout@v2

      - name: Check fidesctl installation
        run: make check-install

      - name: Run fidesctl evaluation
        run: make fidesctl

  Black:
    needs: Build
    runs-on: ubuntu-latest
    steps:
      - name: Download fidesctl container
        uses: actions/download-artifact@v2
        with:
          name: ${{ env.CONTAINER }}
          path: /tmp/

      - name: Load fidesctl image
        run: docker load --input /tmp/${{ env.CONTAINER }}.tar

      - name: Checkout
        uses: actions/checkout@v2

      - name: Run formatter
        run: make black

  Pylint:
    needs: Build
    runs-on: ubuntu-latest
    steps:
      - name: Download fidesctl container
        uses: actions/download-artifact@v2
        with:
          name: ${{ env.CONTAINER }}
          path: /tmp/

      - name: Load fidesctl image
        run: docker load --input /tmp/${{ env.CONTAINER }}.tar

      - name: Checkout
        uses: actions/checkout@v2

      - name: Run linter
        run: make pylint

  Mypy:
    needs: Build
    runs-on: ubuntu-latest
    steps:
      - name: Download fidesctl container
        uses: actions/download-artifact@v2
        with:
          name: ${{ env.CONTAINER }}
          path: /tmp/

      - name: Load fidesctl image
        run: docker load --input /tmp/${{ env.CONTAINER }}.tar

      - name: Checkout
        uses: actions/checkout@v2

      - name: Run typechecker
        run: make mypy

  Xenon:
    needs: Build
    runs-on: ubuntu-latest
    steps:
      - name: Download fidesctl container
        uses: actions/download-artifact@v2
        with:
          name: ${{ env.CONTAINER }}
          path: /tmp/

      - name: Load fidesctl image
        run: docker load --input /tmp/${{ env.CONTAINER }}.tar

      - name: Checkout
        uses: actions/checkout@v2

      - name: Run cyclomatic complexity check
        run: make xenon

  Pytest:
    needs: Build
    runs-on: ubuntu-latest
    steps:
      - name: Download fidesctl container
        uses: actions/download-artifact@v2
        with:
          name: ${{ env.CONTAINER }}
          path: /tmp/

      - name: Load fidesctl image
        run: docker load --input /tmp/${{ env.CONTAINER }}.tar

      - name: Checkout
        uses: actions/checkout@v2

      - name: Run unit test suite
        run: |
          docker compose up -d fidesctl
          docker compose run --no-deps --rm fidesctl pytest -x -m unit
      - name: Run integration test suite
        run: make pytest-integration
        env:
          SNOWFLAKE_FIDESCTL_PASSWORD: ${{ secrets.SNOWFLAKE_FIDESCTL_PASSWORD }}
          REDSHIFT_FIDESCTL_PASSWORD: ${{ secrets.REDSHIFT_FIDESCTL_PASSWORD }}
