name: Publish fidesctl

on:
  # REMOVE THIS, JUST FOR DEBUGGING!!
  pull_request:
    branches:
      - main
  push:
    tags:
      - "*"

jobs:
  upload_to_pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Install node modules
        run: |
          cd clients/admin-ui
          npm install

      - name: Build and export frontend files
        run: |
          cd clients/admin-ui
          npm run prod-export

      - name: Install Twine
        run: pip install twine

      - name: Twine Upload
        run: |
          python setup.py sdist bdist_wheel 
          twine upload dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
