.home {
  font-family: "Inter", sans-serif;
  color: #171923;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex-grow: 1;
  padding-inline: 24px;
}

.products {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 23px;
  flex-wrap: wrap;
  max-width: 744px;
  margin: 0 auto;
  margin-top: 77px;

  @media screen and (max-width: 768px) {
    & {
      justify-content: center;
    }
  }
}

.product {
  border: 1px solid #cbd5e0;
  border-radius: 8px;
  padding: 16px;
  width: 232px;

  &:hover {
    box-shadow:
      0px 20px 25px -5px rgba(0, 0, 0, 0.1),
      0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  }

  img {
    margin-bottom: 8px;
  }

  @media screen and (max-width: 768px) {
    & {
      width: 100%;
    }
  }
}

.name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 4px;
}

.description {
  line-height: 20px;
}

.price {
  font-weight: 600;
  margin-top: 7px;
}

.purchase {
  margin-top: 10px;

  @media screen and (max-width: 768px) {
    & {
      width: 100%;
    }
  }
}

.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #5b301d;
  font-weight: 500;
  font-size: 16px;
  margin-top: 70px;
  background-color: #faf7f6;
  padding-top: 2em;
  padding-bottom: 2em;

  a,
  a:visited,
  a:hover {
    color: #5b301d;
  }

  @media screen and (max-width: 768px) {
    & {
      flex-direction: column;
    }
  }
}

.modalLink {
  margin-left: 1em;
  background: none;
  border: none;
  padding: 0;
  color: #5b301d;
  text-decoration: underline;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.select {
  position: absolute;
  right: 0;
  margin: 1em;
  color: #171923;

  @media screen and (max-width: 768px) {
    & {
      position: relative;
    }
  }
}
