.pseudo-focus {
  background-color: var(--ant-color-primary-bg);
  // padding-top: 1px;
  // Meets WCAG rule 1.4.1 (Use of Color) by including a side border
  border-left: 4px solid var(--fidesui-minos);
  margin-left: -4px;
  position: relative;
  &:not(:last-child) {
    border-block-end-width: 0 !important;
    margin-bottom: 1px;
  }
  &:not(:first-child):before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--fidesui-full-white);
  }
}
